@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-size: 62.5%;
}

*,
*::after,
*::after {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}
a,
li,
p {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  margin: 0;
  font-weight: 490;
}
/* Button */
.btn {
  border-radius: 25px;
  padding: 5px 10px;
  color: inherit;
  font-size: 1.3rem;
}

/* start style the container that create to scope screen of our web page */
.container {
  max-width: 80%;
  margin: 0 auto;
}
/* End width container */

/* Start style for circle icon */
.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32.5px;
  height: 32.5px;
}
/*  End circle icon */

/* ******************************* Start Header ***************************** */

/*Header that contain all nav bar */
.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  transition: top 0.6s;
}
/* End main container (header) */

/* Navigition bar top */
.container-top {
  background-color: rgb(244, 243, 243);
}
/* End Container top use to scope all nav-top style */

/* Navigition top style */
.nav-top {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 0 0;
}

/* top-left */
.top-left,
.top-right {
  display: flex;
  gap: 25px;
}

.top-left > li > a > img {
  width: 22px;
}

/* This style make image opacity */
.top-left > li > a:hover img,
.bottom-left > li > a:hover img {
  opacity: 0.6;
}

/* top-right- */
.top-right {
  display: flex;
  gap: 14px;
}
.top-right > li > a {
  font-size: 1.2rem;
}
.top-right > li > a:hover {
  color: rgb(143, 140, 140);
}
.top-right > span {
  font-size: 1.5rem;
  margin-top: 2px;
}
/* Help drop down */
.list-drop {
  position: relative;
}
.list-drop:hover .help-drop {
  display: flex;
}
.help-drop {
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 25px 70px 25px 20px;
  gap: 10px;
  border-radius: 0 0 7px 7px;
  position: absolute;
  width: 260px;
  top: 30px;
  right: -20px;
}
.help-drop > a {
  /* display: none; */
  color: rgb(115, 112, 112);
  font-size: 1.4rem;
}
.help-drop > a:hover {
  /* display: none; */
  color: black;
}
/* /////////////////////////////End Nav Bar top/////////////////////////// */

/* /////////////////////////Start Nav-bottom ///////////////////////////////*/
.container-bottom {
  background-color: white;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px 0;
}

/* bottom-left */
.bottom-left {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.bottom-left > li > a > img {
  width: 63px;
}

/* Bottom middle */
.bottom-mid {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

/* Bottom nav bar middle hover */
.bottom-mid > li > a {
  padding: 10px;
}
.bottom-mid > li > a:hover {
  border-bottom: 2px solid black;
}
/* bottom-right */
.bottom-right {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.bottom-right > li > a,
.bottom > li > .btn-search {
  font-size: 2rem;
}

.bottom-right > li > a:hover {
  background-color: rgb(223, 222, 222);
}
.btn-search {
  display: flex;
  background-color: #efefef8d;
  border-radius: 30px;
  align-items: center;
}
.btn-search:hover {
  background-color: #e3e2e2;
}
.search-place {
  padding: 10px 0;
  border-radius: 0px 30px 30px 0;
  background-color: transparent;
}
input {
  width: 125px;
}
input:focus {
  outline: none;
}
/* //////////////////////////////End Nav bar bottom ////////////////////////// */

/* Responsive for nav bar */
@media (max-width: 1203px) {
  .bottom-mid > li:nth-child(6) {
    display: none;
  }
}
@media (max-width: 1148px) {
  .bottom-mid > li:nth-child(5) {
    display: none;
  }
}
@media (max-width: 1026px) {
  .bottom-mid > li:nth-child(4) {
    display: none;
  }
}
@media (max-width: 973px) {
  .bottom-mid > li:nth-child(3) {
    display: none;
  }
}
@media (max-width: 959px) {
  .container-top {
    display: none;
  }
  .bottom-mid > li:nth-child(2),
  .bottom-mid > li:nth-child(1) {
    display: none;
  }
}

/********************************** End Header **********************************8 */

/* Container Cover */
.container-show {
  width: 100%;
}
.container-show > img {
  width: 100%;
}
.container-main {
  padding-top: 105px;
}

/* Cover Info */
.collection-info,
.cover-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cover-info {
  max-width: 550px;
  padding: 45px;
  margin: 0 auto;
}
.cover-info > h1 {
  font-size: 50px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  margin: 0;
  line-height: 1;
  padding: 5px 0px 20px 35px;
}
.cover-info > p {
  font-size: 1.3rem;
}
.btn-shop {
  margin-top: 25px;
  background-color: black;
  color: white;
}

/* Trending Section */
.scroll-main {
  /* display: flex; */
  flex: 1;
  width: 100%;
  margin-top: 40px;
}

.scroll-container, .scroll-container1 , .scroll-container2 {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow: auto;
  gap: 10px;
  margin-top: 20px;
}
/* .scroll-container::-webkit-scrollbar {
  width: 0;
} */
.scroll-card > p {
  margin: 20px 0;
}
/* Scroll-move */
.scroll-info {
  display: flex;
  justify-content: space-between;
}
.scroll-icon {
  display: flex;
  gap: 10px;
}
.scroll-icon > div > img {
  width: 70%;
}
.icon-left,
.icon-right {
  background-color: rgb(229, 231, 231);
  width: 35px;
  height: 35px;
  padding: 3px;
}

/* Feature Section */
.feature > p {
  margin: 40px 0;
}
.feature-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: space-between;
}
.imgFeature {
  max-width: 1000px;
  background-repeat: no-repeat;
}
.imgFeature > img {
  width: 100%;
}

.scroll-container1 {
  grid-template-columns: repeat(9, 1fr);
}

.scroll-container2 {
  grid-template-columns: repeat(10, 1fr);
}
